body {
    margin: 0;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f1ea; /* Light Cream background */
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: start;   /* Center vertically */
    height: 100vh;           /* Full screen height */
}

.btn-link {
    margin-right: 15px;
    display: inline-block;      /* Makes it a block so it respects padding */
    width: 100%;                /* Full width like your other buttons */
    padding: 12px;
    background-color: #8B4513;  /* Same brown color */
    color: white;
    text-align: center;
    text-decoration: none;      /* Removes the underline */
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;
}

.btn-link:hover {
    background-color: #A0522D;
}